<div class="jumbotron text-center">
    <h1>Editing <%= company.company_name %></h1>
    <% if (company.license_status == true) { %>
        <span class="btn btn-sm btn-success">Active</span>
    <% } else if (company.license_status == false) { %>
        <span class="btn btn-sm btn-danger">Inactive</span>
    <% } %>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (success.length > 0) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>

        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <%= errors %><br>
            </div>
        <% } %>

        <form action="/company/edit" method="POST" id="reg_form">
            <input type="hidden" name="id" value="<%= company.id %>">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="first_name" id="first_name" class="form-control" value="<%= company.first_name %>" disabled>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name" id="last_name" class="form-control" value="<%= company.last_name %>" disabled>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="email" class="form-control" value="<%= company.email %>" disabled>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="company_name" id="company_name" class="form-control" value="<%= company.company_name %>" disabled>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label>License Start Date</label>
                <input type="text" name="license_start_date" id="license_start_date" class="form-control date-picker" value="<%= company.license_start_date %>">
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <label>License End Date</label>
                <input type="text" name="license_end_date" id="license_end_date" class="form-control date-picker" value="<%= company.license_end_date %>">
                <p class="help-block"></p>
            </div>
        </form>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg" id="submit_btn">Submit</button>
        </div>

    </div>
</div>